*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  font-size: 16px;
  background: black;
  color: white;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
}

input,
button {
  border: none;
  outline: none;
  background: transparent;
  display: block;
}

/* -----utility classes----- */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* upper section */
.upper-section {
  margin-top: 1rem;
  border-radius: 1.5rem;
  overflow: hidden;
  height: 430px;
  width: 96%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 790px) {
  .upper-left {
    width: 50%;
    margin-inline: auto;
  }
  .upper-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.upper-left {
  min-width: 330px;
  max-width: 90%;
  height: 430px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: inherit;
}

.search-bar {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100vmax;
  padding: 0.2em;
}

.input {
  padding-inline: 1rem;
}

.search-icon-bg {
  height: 40px;
  width: 40px;
  margin-left: auto;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: grid;
  place-items: center;
}

.search-icon-bg i {
  font-size: 1rem;
  opacity: 70%;
}

.whether-card .img {
  margin-top: 2rem;
  width: 90px;
  flex-grow: 1;
  margin-inline: auto;
  filter: drop-shadow(10px 5px 10px rgba(255, 255, 255, 0.2));
}

.temp-icon-bg {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.05);
  display: grid;
  place-items: center;
}

.temp-icon-bg > i {
  color: white;
}

/* ----upper right---- */

.upper-right {
  background: rgba(255, 255, 255, 0.05);
  border-radius: inherit;
  height: 430px;
  width: 90%;
}

.bottom {
  display: grid;
  overflow-y: scroll;
  grid-gap: 1rem;
  height: max-content;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.detail-card {
  background: red;
}
.upper-card {
  margin-bottom: 1rem;
  height: 250px;
}

.bottom-card {
  height: 90px;
}

.wind-img {
  width: 30%;
  margin-inline: auto;
  margin-top: 1.2rem;
  border: 1px solid rgba(255, 255, 255, 0.05);
  padding: 0.7rem;
  border-radius: 1.5rem;
}

.upper-card,
.bottom-card {
  background: rgba(0, 0, 0, 0.2);
  padding: 1em;
  border-radius: 1rem;
}

.wind-icon {
  font-size: 7rem;
}

.drop-bg {
  height: 35px;
  width: 35px;
  display: grid;
  place-items: center;
  background: hsl(240, 100%, 55%, 0.09);
  color: hsl(240, 100%, 55%);
  border-radius: 50%;
}

.feels-bg {
  height: 35px;
  width: 35px;
  display: grid;
  place-items: center;
  background: hsl(60, 100%, 55%, 0.09);
  color: hsl(60, 100%, 55%);
  border-radius: 50%;
}

.cloud-bg {
  height: 35px;
  width: 35px;
  display: grid;
  place-items: center;
  background: hsl(240, 100%, 70%, 0.09);
  color: hsl(240, 100%, 70%);
  border-radius: 50%;
}

/* ------------- */

/* -----bottom section---- */

.bottom-section {
  height: 80vh;
  margin-top: 2rem;
  width: 96%;
  border-radius: 1.5rem;
  margin-inline: auto;

  display: flex;
  gap: 1rem;
}

.myChart {
  width: 70% !important;
  height: 100% !important;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 1.5rem;
}

.alert-section {
  width: 30%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 1.5rem;
}

.alert-bg {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: hsl(0, 100%, 50%, 0.1);
}

.alert-bg i {
  color: hsl(0, 100%, 50%);
}

.alert-h {
  color: white;
  font-weight: bold;
  letter-spacing: 3px;
}
